h1 {
  font-family:Delius; 
  font-size: 100px;
}
h2 {
  font-family:Bad Script;
  font-size: 60px;
  line-height: 50%;
}

p1{
    font-family: Annie Use Your Telescope;
  font-size:40px;
  line-height: 90%;
}
p2{
    font-family: Annie Use Your Telescope;
  font-size:40px;
  line-height: 90%;
}
body{
background: linear-gradient(to right, Aquamarine, Lavender)
}
